<a href="https://colab.research.google.com/github/Cassi686/dados-legais/blob/master/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Problema: Prever se o cliente irá retornar ao site para comprar no próximo mês

In [ ]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import plotly.express as px
from sklearn.preprocessing import PowerTransformer, StandardScaler, scale
from google.colab import files

In [ ]:
df=pd.read_csv('/content/2019-Nov (2).csv')
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:02 UTC,view,5802432,1487580009286598681,NaN,NaN,0.32,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
1,2019-11-01 00:00:09 UTC,cart,5844397,1487580006317032337,NaN,NaN,2.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
2,2019-11-01 00:00:10 UTC,view,5837166,1783999064103190764,NaN,pnb,22.22,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
3,2019-11-01 00:00:11 UTC,cart,5876812,1487580010100293687,NaN,jessnail,3.16,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7
4,2019-11-01 00:00:24 UTC,remove_from_cart,5826182,1487580007483048900,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
...,...,...,...,...,...,...,...,...,...
249018,2019-11-03 07:23:53 UTC,remove_from_cart,5758522,1487580005671109489,NaN,masura,1.73,548396342,273b4b71-4ec6-413b-be2f-1c584371da14
249019,2019-11-03 07:23:54 UTC,view,5772287,1602943681873052386,NaN,grattol,6.03,445248681,4e6111bc-7a6a-41f4-93ad-babde7bf9043
249020,2019-11-03 07:23:54 UTC,remove_from_cart,5818394,1487580007675986893,NaN,bpw.style,1.59,548396342,273b4b71-4ec6-413b-be2f-1c584371da14
249021,2019-11-03 07:23:55 UTC,view,5870962,1487580012809814181,NaN,masura,55.54,485581120,f0c8d5f5-c16d-4215-9ec5-a6f61a689deb
249022,2019-11-03 07:23:56 UTC,cart,5888122,1487580013522845895,NaN,shik,7.78,494424215,26aaa3e2-deaf-4a2b

In [ ]:
df.head(50)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:02 UTC,view,5802432,1487580009286598681,NaN,NaN,0.32,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
1,2019-11-01 00:00:09 UTC,cart,5844397,1487580006317032337,NaN,NaN,2.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
2,2019-11-01 00:00:10 UTC,view,5837166,1783999064103190764,NaN,pnb,22.22,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
3,2019-11-01 00:00:11 UTC,cart,5876812,1487580010100293687,NaN,jessnail,3.16,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7
4,2019-11-01 00:00:24 UTC,remove_from_cart,5826182,1487580007483048900,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
5,2019-11-01 00:00:24 UTC,remove_from_cart,5826182,1487580007483048900,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
6,2019-11-01 00:00:25 UTC,view,5856189,1487580009026551821,NaN,runail,15.71,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
7,2019-11-01 00:00:32 UTC,view,5837835,1933472286753424063,NaN,NaN,3.49,514649199,432a4e95-375c-4b40-bd36-0fc039e77580
8,2019-11-01 00:00:34 UTC,remove_from_cart,5870838,1487580007675986893,NaN,milv,0.79,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
9,2019-11-01 00:00:37 UTC,view,5870803,1487580007675986893,NaN,milv,0.79,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
10,2019-11-01 00:00:42 UTC,remove_from_cart,5870803,1487580007675986893,NaN,milv,0.79,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
11,2019-11-01 00:00:46 UTC,view,5841721,1487580008187692007,NaN,NaN,1.37,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
12,2019-11-01 00:00:50 UTC,view,5856190,1487580009026551821,NaN,runail,15.71,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
13,2019-11-01 00:00:51 UTC,remove_from_cart,5710314,1487580005268456287,NaN,lianail,5.54,566239468,3ad69360-e328-454a-b1f8-0e0901e1e344
14,2019-11-01 00:00:55 UTC,view,5534,1487580006711296933,NaN,ingarden,14.76,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
15,2019-11-01 00:00:57 UTC,view,5674484,1487580009026551821,NaN,runail,15.71,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
16,2019-11-01 00:01:06 UTC,view,5649207,1487580013581566154,NaN,concept,2.94,566273978,c2d3b5fa-445a-432e-bfa8-bea9652e3cfe
17,2019-11-01 00:01:07 UTC,view,5780830,1487580005092295511,NaN,rosi,7.14,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
18,2019-11-01 00:01:09 UTC,cart,4607,1487580010796548183,NaN,runail,0.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
19,2019-11-01 00:01:11 UTC,view,5759991,1487580013212467384,NaN,NaN,15.08,391027139,8b820c4f-4cee-4407-9f6a-dc0f926959bb
20,2019-11-01 00:01:11 UTC,cart,4600,1487580010796548183,NaN,runail,0.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
21,2019-11-01 00:01:13 UTC,view,5807857,1487580009471148064,NaN,irisk,1.11,566280991,c9e882a2-e8fb-4607-a9f2-0e0948c16e64
22,2019-11-01 00:01:23 UTC,view,5837825,1933472286753424063,NaN,NaN,3.49,514649199,037e2ba9-1446-49c6-9723-dcfa7f9da3b8
23,2019-11-01 00:01:23 UTC,view,5745720,1487580006317032337,NaN,irisk,8.57,485066868,9eeee910-722d-495e-8335-c1e3efb00089
24,2019-11-01 00:01:28 UTC,cart,5837825,1933472286753424063,NaN,NaN,3.49,514649199,037e2ba9-1446-49c6-9723-dcfa7f9da3b8
25,2019-11-01 00:01:32 UTC,view,5882577,1487580013581566154,NaN,thuya,13.49,516158753,d5ffdffc-eae4-4a93-8b6b-924db49a42df
26,2019-11-01 00:01:34 UTC,cart,5837825,1933472286753424063,NaN,NaN,3.49,514649199,037e2ba9-1446-49c6-9723-dcfa7f9da3b8
27,2019-11-01 00:01:40 UTC,cart,5817690,1487580010872045658,NaN,NaN,0.79,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
28,2019-11-01 00:01:53 UTC,view,5837491,1933364344720982871,NaN,NaN,5.08,514649199,e1861179-8a27-4b1c-9bfd-225093423b8f
29,2019-11-01 00:01:54 UTC,cart,5862929,1487580010100293687,NaN,mavala,15.81,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7
30,2019-11-01 00:01:57 UTC,purchase,5839412,1487580006551913373,NaN,lovely,3.16,460304619,9f777569-bdf3-47e5-a3d4-dfc26beb29cb
31,2019-11-01 00:01:57 UTC,cart,5710314,1487580005268456287,NaN,lianail,5.54,566239468,3ad69360-e328-454a-b1f8-0e0901e1e344
32,2019-11-01 00:01:57 UTC,purchase,5823969,1487580005268456287,NaN,uno,17.46,460304619,9f777569-bdf3-47e5-a3d4-dfc26beb29cb
33,2019-11-01 00:01:57 UTC,purchase,5810480,1487580011283087468,NaN,NaN,22.54,460304619,9f777569-bdf3-47e5-a3d4-dfc26beb29cb
34,2019-11-01 00:02:02 UTC,view,5780829,1487580005092295511,NaN,rosi,7.14,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
35,2019-11-01 00:02:06 UTC,cart,5723270,1487580010872045658,NaN,ingarden,1.56,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
36,2019-11-01 00:02:15 UTC,remove_from_cart,5864286,1597770225539875791,NaN,NaN,20.16,565876667,cf5d7069-7465-4ec5-a9be-c911bc1b9f95
37,2019-11-01 00:02:18 UTC,cart,30195,1487580010922377308,NaN,runail,0.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
38,2019-11-01 00:02:26 UTC,view,5587660,1487580008145748965,NaN,roubloff,4.75,239732557,a245fe93-cc60-421f-b321-5c6ba8051155
39,2019-11-01 00:02:26 UTC,cart,5716351,1487580010872045658,NaN,irisk,0.79,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
40,2019-11-01 00:02:35 UTC,view,5751422,1487580005268456287,NaN,uno,10.95,429187721,65b36ebc-6538-4b2c-a077-252e1387fe81
41,2019-11-01 00:02:43 UTC,cart,5723264,1487580010872045658,NaN,ingarden,1.56,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
42,2019-11-01 00:02:44 UTC,view,5837411,1933364344720982871,NaN,NaN,4.76,514649199,2732fbae-8a04-4945-9920-78a29c581032
43,2019-11-01 00:02:47 UTC,view,5891179,1759024699007828783,NaN,NaN,57.14,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
44,2019-11-01 00:02:52 UTC,cart,5723464,1487580010922377308,NaN,NaN,0.79,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
45,2019-11-01 00:03:01 UTC,view,5780830,1487580005092295511,NaN,rosi,7.14,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
46,2019-11-01 00:03:01 UTC,view,5803085,1759024699007828783,NaN,NaN,9.00,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
47,2019-11-01 00:03:07 UTC,cart,5840033,1783999071325782053,NaN,irisk,2.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
48,2019-11-01 00:03:09 UTC,view,5671072,1487580013430571202,NaN,NaN,18.38,565552145,6790ceb9-b128-4e49-86ce-1659e16ed2b7
49,2019-11-01 00:03:10 UTC,cart,5851312,1487580005268456287,NaN,lianail,6.33,566239468,3ad69360-e328-454a-b1f8-0e0901e1e344

In [ ]:
df.describe()

         product_id   category_id          price       user_id
count  2.490230e+05  2.490230e+05  249023.000000  2.490230e+05
mean   5.467452e+06  1.544073e+18       8.417513  5.049527e+08
std    1.337907e+06  1.574940e+17      19.610116  8.319632e+07
min    3.762000e+03  1.487580e+18      -7.940000  1.311745e+07
25%    5.724641e+06  1.487580e+18       1.900000  4.728050e+08
50%    5.811708e+06  1.487580e+18       3.970000  5.414111e+08
75%    5.856774e+06  1.487580e+18       6.590000  5.658100e+08
max    5.900889e+06  2.195085e+18     299.810000  5.670229e+08

In [ ]:
df.shape

(249023, 9)

In [ ]:
dfAg = df.groupby(by=['user_session', 'event_type','product_id','event_time'])['user_session'].count().sort_values(ascending=False)
dfAg

user_session                          event_type        product_id  event_time
36fffa71-7a9b-47f8-b812-d475f8ceb5eb  remove_from_cart  5760522     2019-11-02 05:31:47 UTC    13
ec103d0c-7d8b-40c1-aadd-de5ac99aadbb  remove_from_cart  5864310     2019-11-01 19:35:35 UTC    13
                                                                    2019-11-01 19:35:33 UTC    13
                                                        5829280     2019-11-01 19:35:44 UTC    13
                                                                    2019-11-01 19:35:45 UTC    13
                                                                                               ..
594cda3f-dc52-4f87-ab53-1fd8fdf91911  cart              5822924     2019-11-01 10:58:11 UTC     1
                                                        5899432     2019-11-01 10:39:28 UTC     1
594deb6f-ee6f-4b5d-a8fd-ccfe1ebb308e  view              5560758     2019-11-01 04:49:41 UTC     1
594f69a8-4443-46d7-b1ed-3be9350f3b16  view              5867041     2019-11-01 17:52:32 UTC     1
ffffbe0a-d2c2-47c7-afab-680bfdfda50d  view              5528034     2019-11-02 11:47:34 UTC     1
Name: user_session, Length: 235550, dtype: int64

In [ ]:
df.shape

(249023, 9)

In [ ]:
df.drop_duplicates().shape

(235611, 9)

In [ ]:
df1=df.drop_duplicates()
df1

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:02 UTC,view,5802432,1487580009286598681,NaN,NaN,0.32,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
1,2019-11-01 00:00:09 UTC,cart,5844397,1487580006317032337,NaN,NaN,2.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
2,2019-11-01 00:00:10 UTC,view,5837166,1783999064103190764,NaN,pnb,22.22,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
3,2019-11-01 00:00:11 UTC,cart,5876812,1487580010100293687,NaN,jessnail,3.16,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7
4,2019-11-01 00:00:24 UTC,remove_from_cart,5826182,1487580007483048900,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
...,...,...,...,...,...,...,...,...,...
249017,2019-11-03 07:23:53 UTC,cart,5834911,1487580005511725929,NaN,NaN,5.00,201739455,378e286d-d4cc-4ffc-b3bf-50870fb8211b
249019,2019-11-03 07:23:54 UTC,view,5772287,1602943681873052386,NaN,grattol,6.03,445248681,4e6111bc-7a6a-41f4-93ad-babde7bf9043
249020,2019-11-03 07:23:54 UTC,remove_from_cart,5818394,1487580007675986893,NaN,bpw.style,1.59,548396342,273b4b71-4ec6-413b-be2f-1c584371da14
249021,2019-11-03 07:23:55 UTC,view,5870962,1487580012809814181,NaN,masura,55.54,485581120,f0c8d5f5-c16d-4215-9ec5-a6f61a689deb
249022,2019-11-03 07:23:56 UTC,cart,5888122,1487580013522845895,NaN,shik,7.78,494424215,26aaa3e2-deaf-4a2b

In [ ]:
 df1.groupby(by=['user_session', 'event_type','product_id','event_time'])['user_session'].count().sort_values(ascending=False)

user_session                          event_type        product_id  event_time
0000d358-49a1-4a54-b402-08205c35981c  view              5887753     2019-11-02 09:13:51 UTC    1
acd33851-926e-4eae-aacb-62d82dae45d5  cart              5724293     2019-11-01 09:53:35 UTC    1
                                                        5724630     2019-11-01 09:46:34 UTC    1
                                                        5724660     2019-11-01 09:46:22 UTC    1
                                                        5736023     2019-11-01 10:31:32 UTC    1
                                                                                              ..
56ffc39d-e03c-4e04-a5a2-51fd904a10d5  view              5896077     2019-11-02 06:28:20 UTC    1
56fff248-aa4b-4549-a897-e818f207c7fd  cart              5584856     2019-11-01 18:51:11 UTC    1
                                      remove_from_cart  5569528     2019-11-01 19:00:34 UTC    1
                                                        5573498     2019-11-01 19:00:35 UTC    1
ffffbe0a-d2c2-47c7-afab-680bfdfda50d  view              5528034     2019-11-02 11:47:34 UTC    1
Name: user_session, Length: 235550, dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235611 entries, 0 to 249022
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   event_time     235611 non-null  object
 1   event_type     235611 non-null  object
 2   product_id     235611 non-null  int64
 3   category_id    235611 non-null  int64
 4   category_code  3782 non-null    object
 5   brand          144350 non-null  object
 6   price          235611 non-null  float64
 7   user_id        235611 non-null  int64
 8   user_session   235550 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 18.0+ MB

In [ ]:
df1['event_time'] = pd.to_datetime(df['event_time'], format='%Y-%m-%d %H:%M:%S %Z') 
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235611 entries, 0 to 249022
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   event_time     235611 non-null  datetime64[ns, UTC]
 1   event_type     235611 non-null  object
 2   product_id     235611 non-null  int64
 3   category_id    235611 non-null  int64
 4   category_code  3782 non-null    object
 5   brand          144350 non-null  object
 6   price          235611 non-null  float64
 7   user_id        235611 non-null  int64
 8   user_session   235550 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(4)
memory usage: 18.0+ MB

<ipython-input-34-adea92754d85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['event_time'] = pd.to_datetime(df['event_time'], format='%Y-%m-%d %H:%M:%S %Z')

In [ ]:
percentiles = [0.01, 0.1, 0.25, 0.50, 0.75, 0.9, 0.99]

df1.describe(include = 'number', percentiles = percentiles)

         product_id   category_id          price       user_id
count  2.356110e+05  2.356110e+05  235611.000000  2.356110e+05
mean   5.466810e+06  1.544438e+18       8.646595  5.051099e+08
std    1.338957e+06  1.579451e+17      20.023919  8.361774e+07
min    3.762000e+03  1.487580e+18      -7.940000  1.311745e+07
1%     4.938000e+03  1.487580e+18       0.320000  2.308620e+08
10%    5.614842e+06  1.487580e+18       0.870000  3.878960e+08
25%    5.724635e+06  1.487580e+18       1.900000  4.733131e+08
50%    5.811708e+06  1.487580e+18       3.970000  5.419930e+08
75%    5.856841e+06  1.487580e+18       6.860000  5.658741e+08
90%    5.884080e+06  1.783999e+18      15.860000  5.666825e+08
99%    5.900606e+06  2.151191e+18      98.410000  5.669531e+08
max    5.900889e+06  2.195085e+18     299.810000  5.670229e+08

In [ ]:
q1 = df1['price'].quantile(0.25)
q3 = df1['price'].quantile(0.75)
iqr = q3 - q1 

iqr

4.960000000000001

In [ ]:
lower_bound = q1-1.5*iqr
lower_bound

-5.540000000000001

In [ ]:
upper_bound = q3 + 1.5*iqr
upper_bound

14.3

In [ ]:
df1['price'].describe(percentiles = [0.01, 0.1, 0.25, 0.50, 0.75, 0.9, 0.99])

count    235611.000000
mean          5.221481
std           4.314314
min          -5.540000
1%            0.320000
10%           0.870000
25%           1.900000
50%           3.970000
75%           6.860000
90%          14.300000
99%          14.300000
max          14.300000
Name: price, dtype: float64

In [ ]:
df1['event_type'].isnull().value_counts()

False    235611
Name: event_type, dtype: int64

In [ ]:
x=df1['event_type'].value_counts().index 

y= df1['event_type'].value_counts()

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
fig = go.Figure()

fig.add_trace(
go.Bar
(
    x=df1['event_type'].value_counts().index, 
    y=df1['event_type'].value_counts(),
    marker_color='lightblue'))


fig.update_layout(
    yaxis=dict(
        title='Quantidade de Eventos',
        titlefont_size=16,
        tickfont_size=16,
    ),
    xaxis=dict(
        title='Tipos de Evento',
        titlefont_size=16,
        tickfont_size=16,
    )
    )